.menu-text{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 8em;
    letter-spacing: 0.08em;
}

.menu-container{
    border: 1px solid gainsboro;
    text-align: center;
    background-color: white;
    border-radius: 1%;
}