.menu-text{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 8em;
    letter-spacing: 0.08em;
}

.regular-text{
    font-family:fantasy;
    font-weight:900;
}

.button-start{
    width: 30%;
    height: 12%;
    background: green;
    margin-top: 5%;
    color: white;
    border: 3px solid green;
    font-size: xx-large;
    font-weight: 600;
    transition: background-color 0.4s ease;
}

.button-start:hover{
    background: white;
    color: black;
    
    border: 3px solid rgba(59, 252, 59, 0.743);
}

.menu-container{
    border: 6px groove black;
    text-align: center;
    background-color: white;
    box-shadow: 0px 12px 25px -8px #000000;
    width: 45em;
    height: 33em;
    margin: 20% 15%;
}