.menu-text{
    font-family: 'Pacifico', cursive;
    font-size: 8em;
    letter-spacing: 0.09em;
    margin-top: 0%;
}

.regular-text{
    font-family:fantasy;
    font-weight:900;
    font-size: 1.4em;
}

.button-start{
    width: 30%;
    height: 12%;
    background: linear-gradient(-42deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    margin-top: 5%;
    color: white;
    font-size: xx-large;
    font-weight: 600;
    transition: background-color 0.1s ease;
}

.button-start:hover{
    background: rgba(30, 204, 213, 0.311);
    color: black;
    border: 3px solid rgba(41, 251, 255, 0.743);
}

.button-start:active {
    box-shadow: 0 2px #666;
    border: 3px solid rgba(0, 0, 0, 0.564);
    background: white;
    width: 32%;
    color: rgb(43, 43, 43);
    transform: translateY(4px);
}

.menu-container{
    border: 6px groove black;
    text-align: center;
    background-color: white;
    box-shadow: 0px 12px 25px -8px #000000;
    width: 45em;
    height: 33em;
    margin: 20% 15%;
}