.game-over-screen{
    font-family: 'Press Start 2P', cursive;
    border: 6px groove black;
    text-align: center;
    background-color: white;
    box-shadow: 0px 12px 25px -8px #000000;
    width: 55em;
    height: 40em;
    margin: 10% auto 0;
}