.gameInfo-container {
  border: 6px groove black;
  text-align: center;
  background-color: white;
  box-shadow: 0px 12px 25px -8px #000000;
  width: 45em;
  height: 40em;
  margin: 10% auto;
}

.back-button {
  margin-left: 2%;
  margin-top: 2%;
  color: rgb(0, 0, 0);
}

.back-button:hover {
  color: rgba(26, 26, 26, 0.749);
  transform: translateY(2px);
}

.settings-title {
  font-family: "Press Start 2P", cursive;
}

.score-multiplier-display {
  font-family: "Press Start 2P", bold;
  margin-top: 15%;
}

.overrideDropdown {
  border: 3px groove black;
}
.arrowBlack {
  color: black;
  border-color: #000 transparent transparent;
}
.modal-button {
  border: none;
  width: 45px;
  height: 45px;
  margin-right: 3%;
  margin-top: 3%;
  background: white;
  color: black;
  cursor: pointer;
}

.rules-text {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5em;
  letter-spacing: 0.09em;
  margin-top: 0%;
  cursor: default;
}

.info {
  font-family: "Press Start 2P", cursive;
  font-size: 1.1em;
  font-weight: 200;
  margin: 20px auto;
  width: 70%;
}

.warning {
  width: 80%;
  margin: 40px auto 80px;
  font-weight: bolder;
  font-family: "Press Start 2P", cursive;
}

.modal-button:hover {
  color: rgba(40, 40, 40, 0.811);
  transform: translateY(2px);
}

.gameInfo-header {
  display: flex;
  justify-content: space-between;
}

.settings-options {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  height: 25em;
}
