.gameInfo-container{
    border: 6px groove black;
    text-align: center;
    background-color: white;
    box-shadow: 0px 12px 25px -8px #000000;
    width: 45em;
    height: 33em;
    margin: 10% auto;
}

.gameInfo-header{
    display: flex;
}