/* css goes here */

.question-container {
    font-family: 'Press Start 2P', cursive;
    border: 6px groove black;
    text-align: center;
    background-color: white;
    box-shadow: 0px 12px 25px -8px #000000;
    width: 55em;
    height: 40em;
    margin: 10% auto 0;
}

.addScore{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    margin-left: 13%;
    display: none;
}

.addScore.showAddScore {
    display: block;
    color: rgb(150, 200, 0);
    animation:mymove 0.5s;
}
.addScore.showNoAddScore {
    display: block;
    color: rgb(155, 50, 34);
    animation:mymove 0.5s;
}

@keyframes mymove
{ 
    from {top:100px; opacity: 0;}
    from{right:50px;}
    to{right: 0px}
    to {top:0px; opacity: 0.75}
}



/* Animation Code */

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 12em;
  }
  .lds-grid div {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  