.question-text{
    font-size: 1.2em;
    margin: 10% auto 0;
    width: 80%;
}

.answers-button-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.alert{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    display: none;
}

.alert.correct{
    color: rgb(0, 186, 0);
    display: block;
}

.alert.wrong{
    color: red;
    display: block;
}

.answer-button{
    border: 2px solid black;
    background: linear-gradient(-42deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    width: 22vw;
    height: 10vh;
    margin-top: 10%;
    font-weight: 900;
    font-size: 1.1em;
    font-family: 'Press Start 2P', cursive;
}

.answer-button:hover {
    background: linear-gradient(-42deg, #a45137, #91254e, #15607b, #158268);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    color: black;
    cursor: pointer;
}

.answer-button:active {
    border: 2px solid rgba(0, 0, 0, 0.564);
    background: white;
    color: rgb(43, 43, 43);
    transform: translateY(4px);
}
.answer-button.wrong {
    background: red;
}
.answer-button.correct {
    background: green;
}

.answer-button:disabled {
    cursor:not-allowed;
    border: 1px solid gray;
}

.answer-button:disabled:hover {
    color: rgba(0, 0, 0, 0.27);
}

.answer-button:disabled.correct {
    border: 3px solid black;
    color: black;
}